
  body{
    background:url('https://vidyasheela.com/web-contents/website-components/Login-Pages/transparent-login-page-template-in-html-and-css/background-img.jpg');

    background-blend-mode: darken;
  }

    .content{
        width:120vw;
        max-width:500px;
        padding:20px;
        min-height:450px;
        background:white;
        border-radius:7px;
        border:1px solid lightgrey;
        background-image:url('https://firebasestorage.googleapis.com/v0/b/stora-5c1e1.appspot.com/o/loginPage%2Fimg%2Fpt.webp?alt=media&token=c54bae39-9abe-421b-9c25-1c667b440d75')
        }
        .body{
          margin-top:50px
        }
    input{
      padding:5px;
      width:90%;
      border:solid 1px ;
      border-radius:4px;
    }
    .info{
      text-align:center;
      margin-bottom:40px;
    }

    .brand{
      font-weight:bold;
    }
    .email{
      margin-bottom:20px;

    }
    .button{
      text-align:center;
      margin-top:60px;
    }
    .btn{
    width:100%;
    background-color:#0091ff;
    }

    @media only screen and (min-width:700px){
      .content{
        position:absolute;
        box-shadow:2px  5px 5px rgba(0,0,0,0.2), 0 5px 4px rgba(0,0,0,0.3);
        height:70% ;
      right:10%;
      top:10%
      }
    }
    @media only screen and (max-width:700px){
      .content{
        margin:0px auto;
        margin-top:50px
      }
